@use "global" as *;
@use "btn";
@use "footer";
@use "header";

.fv {
  width: 100%;
  padding-bottom: 70px;
}

.fv__inner {
  width: 100%;
  padding-left: vw(1366, 170);
  position: relative;
  @media screen and (max-width: $tab) {
    padding-left: 0;
  }
}

.fv__swiper {
  width: 100%;
  height: 100%;
  position: relative;
  aspect-ratio: 1196/645;
  @media screen and (max-width: $tab) {
    aspect-ratio: 375/585;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.swiper-wrapper.fv__swiper-wrapper {
  width: 100%;
}

.fv__outside {
  position: absolute;
  height: 100%;
  top: 0;
  left: clampVw(-47, -45, -45, 1366);
  @media screen and (max-width: $tab) {
    position: relative;
  }
}

.fv__scroll-arrow {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid $pink;
  border-radius: 50%;
  background: transparent;
  position: absolute;
  bottom: -33px;
  left: 89px;
  top: auto;
  background-color: $white;
  @media screen and (max-width: $tab) {
    bottom: -14px;
    left: 51px;
    z-index: 2;
    width: 25px;
    height: 25px;
  }
  &::after {
    position: absolute;
    content: "";
    border: 0;
    border-bottom: solid 1px $pink;
    border-right: solid 1px $pink;
    display: inline-block;
    width: 7px;
    height: 7px;
    top: 50%;
    right: 10.7px;
    transform: translateY(-50%) rotate(45deg);
    @media screen and (max-width: $tab) {
      right: 8.7px;
    }
  }
}

.scroll-arrow-animation {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  bottom: -33px;
  left: 89px;
  z-index: -1;
  animation: scale 2s linear infinite;
  background-color: rgba($color: $pink, $alpha: 0.5);
  @media screen and (max-width: $tab) {
    z-index: 1;
    bottom: -14px;
    left: 51px;
    width: 20px;
    height: 20px;
    width: 25px;
    height: 25px;
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    transform: scale(2);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.swiper-pagination.swiper-pagination-bullets {
  width: 13px;
  position: absolute;
  left: 98px;
  @media screen and (max-width: $tab) {
    width: 60px;
    height: fit-content;
    left: 56%;
    bottom: -26px;
  }
  .swiper-pagination-bullet {
    display: block;
    width: 13px;
    height: 13px;
    margin-top: 20px;
    margin-left: 0;
    background-color: rgba($color: $pink, $alpha: 0.6);
    @media screen and (max-width: $tab) {
      display: inline-block;
      margin-top: 0;
      width: 10px;
      height: 10px;
      margin-right: 10px;
    }
  }
  .swiper-pagination-bullet-active {
    background-color: rgba($color: $pink, $alpha: 1);
  }
}

.fv__logo {
  position: absolute;
  z-index: 2;
  width: vw(1366, 120);
  aspect-ratio: 120/104;
  top: 11px;
  left: 4px;
  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

.fv__text-vertical,
.fv__text-horizontal {
  position: absolute;
  z-index: 2;
  font-weight: $bold;
  font-family: $base-font;
  font-size: vw(1366, 120);
  line-height: 1.13;
  letter-spacing: 0.13em;
  color: $pink;
  @media screen and (max-width: $tab) {
    font-size: 100px;
    letter-spacing: 0.14em;
  }
}

.fv__text-sp {
  width: 100%;
  position: absolute;
  z-index: 2;
  font-weight: $bold;
  font-family: $base-font;
  font-size: vw(375, 100);
  line-height: 2.26;
  letter-spacing: 0.15em;
  color: $pink;
  text-align: end;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fv__text-vertical {
  writing-mode: vertical-rl;
  top: 7vw;
  left: -9px;
  @media screen and (max-width: $tab) {
    width: 100%;
    writing-mode: horizontal-tb;
    top: auto;
    left: auto;
  }
}

.fv__text-horizontal {
  bottom: 12px;
  left: 0px;
  @media screen and (max-width: $tab) {
    width: 100%;
    line-height: 2.03;
    text-align: end;
    left: auto;
  }
}

.fv__copyright {
  position: absolute;
  bottom: 195px;
  left: 21px;
  font-weight: $normal;
  font-family: $base-font;
  font-size: 13px;
  letter-spacing: 0.017em;
  color: $gray2;
  z-index: 5;
  width: 166px;
  transform: rotate(90deg);
  @media screen and (max-width: $tab) {
    left: -21px;
    bottom: 96px;
    height: 23px;
  }
}

//メッセージ
.message__section {
  padding-top: 97.6px;
  padding-bottom: 209.17px;
  width: 100%;
  @media screen and (max-width: $tab) {
    padding-top: 33px;
    padding-bottom: 80px;
  }
}

.message__inner {
  position: relative;
}

.message__content {
  width: 100%;
}

.message__title-wrapper {
  margin: 0 auto;
  z-index: 2;
  @media screen and (max-width: $tab) {
    margin: 0;
  }
  .text-circle {
    top: 9px;
    left: 25%;
    @media screen and (max-width: $lg) {
      display: none;
    }
  }
}

.message__title-main.text-main {
  padding-left: 13px;
  margin: 0 auto;
  @media screen and (max-width: $lg) {
    display: flex;
    text-align: center;
    padding-left: 23px;
  }
  &:before {
    @media screen and (max-width: $lg) {
      content: "";
      display: block;
      border-radius: 50%;
      background-color: $pink;
      top: 0px;
      left: 0px;
      position: absolute;
      z-index: -1;
      width: 130px;
      height: 130px;
    }
    @media screen and (max-width: $tab) {
      width: 84px;
      height: 84px;
    }
    @media screen and (max-width: $sp) {
      width: vw(375, 84);
      height: vw(375, 84);
    }
  }
}

.message__title-main span {
  color: $white;
  padding-right: 15px;
  @media screen and (max-width: $tab) {
    padding-right: 6px;
  }
}

.message__title-sub.text-sub {
  top: 45px;
  right: 1%;
  @media screen and (max-width: $lg) {
    position: relative;
    top: 0;
    right: 0;
    margin-top: 23px;
    margin-bottom: 40px;
    margin-left: 25px;
  }
  @media screen and (max-width: $tab) {
    margin-bottom: 0;
  }
}

.message__heading.text-sub {
  top: -26px;
  position: relative;
  width: fit-content;
  margin-left: auto;
  margin-right: 8px;
  &:before {
    @media screen and (max-width: $tab) {
      margin-left: 25px;
      margin-top: 20px;
      top: 0;
      right: 0;
    }
  }
}

.message__box {
  display: flex;
  justify-content: space-between;
  margin-top: -62px;
  position: relative;
  padding-left: 30px;

  @media screen and (max-width: $lg) {
    margin-top: 0;
  }
  @media screen and (max-width: $tab) {
    display: block;
    margin-top: 42.36px;
    padding-left: 0px;
  }
}

.message__img {
  width: 70.5%;
  height: auto;
  aspect-ratio: 712/445;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  @media screen and (max-width: $lg) {
    width: 65%;
  }

  @media screen and (max-width: $tab) {
    padding-left: 0;
    width: 100%;
  }

  &::after {
    width: 107%;
    height: auto;
    aspect-ratio: 712/448;
    content: "";
    display: block;
    position: absolute;
    background-image: url(../img/img-message-bg.webp);
    background-repeat: no-repeat;
    background-size: contain;
    top: -23px;
    left: -28px;
    z-index: -1;
    @media screen and (max-width: $lg) {
      top: 0px;
    }
    @media screen and (max-width: $tab) {
      display: none;
    }
  }
}

.no-webp.message__img {
  background-image: url(../img/img-message-bg.jpg);
}

.message__text {
  width: 26.2%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  @media screen and (max-width: $lg) {
    width: 30%;
  }
  @media screen and (max-width: $tab) {
    margin-left: 0;
    margin-top: 50px;
    width: 100%;
  }
}

.message__lead {
  font-weight: $normal;
  font-family: $base-font;
  font-size: 16px;
  line-height: 1.625;
  color: $gray2;

  @media screen and (max-width: $tab) {
    line-height: 1.75;
  }
}

// ビジネス
.business__section {
  width: 100%;
  padding-top: 138px;
  padding-bottom: 160px;
  background-color: #f4f4f4;
  position: relative;
  display: block;
  background-image: url(../img/img-curve01.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 17%;
  @media screen and (max-width: $tab) {
    padding-top: 90px;
    padding-bottom: 80px;
    background-image: url(../img/img-curve01-sp.svg);
    background-position: 0 6.5%;
  }
}

.business__inner {
  position: relative;
  z-index: 1;
}

.business__content {
  width: 100%;
}

.business__title-main.text-main {
  padding-left: 32px;
  @media screen and (max-width: $tab) {
    padding-left: 26px;
  }
}

.business__title-main span {
  color: $white;
  padding-right: 12px;
}

.business__title-sub.text-sub {
  top: 45px;
  right: 25%;
  @media screen and (max-width: $lg) {
    position: relative;
    top: 0;
    right: 0;
    margin-top: 18px;
    padding-left: 0;
    margin-left: 25px;
  }

  &::before {
    @media screen and (max-width: $tab) {
      margin-left: 0;
    }
  }
}

.business__box {
  margin-top: 84px;
  @media screen and (max-width: $tab) {
    margin-top: 40px;
  }
}

.business__items {
  width: 100%;
}

.business__item {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: space-between;
  @media screen and (max-width: $tab) {
    display: block;
  }
}

.business__item + .business__item {
  margin-top: 79px;
}

.business__item:nth-child(2) {
  flex-direction: row-reverse;
}

.business__item-img {
  width: 43.4%;
  height: auto;
  @media screen and (max-width: $tab) {
    margin-top: 40px;
    width: 100%;
  }
  img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.business__item-text {
  width: 50%;
  @media screen and (max-width: $tab) {
    width: 100%;
  }
}

.business__item:nth-child(3) {
  .business__item-text {
    width: 49%;
    @media screen and (max-width: $tab) {
      width: 100%;
    }
  }
}

.business-text__title.text-sub {
  padding-left: 22px;
  @media screen and (max-width: $tab) {
    font-size: 24px;
    line-height: 1.36;
  }
  &::before {
    margin-left: 18px;
    left: -18px;
    @media screen and (max-width: $tab) {
      width: 13px;
      height: 13px;
    }
  }
}

.business__description {
  margin-top: 70px;
  font-weight: $normal;
  font-family: $base-font;
  font-size: 16px;
  line-height: 1.75;
  color: $gray2;
  @media screen and (max-width: $tab) {
    margin-top: 39px;
  }
}

.business__bg {
  width: 100%;
  height: vw(1366, 688);
  object-fit: contain;
  position: absolute;
  bottom: -26px;
  background-image: url(../img/img-curve02.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 17%;
  @media screen and (max-width: $tab) {
    background-image: url(../img/img-curve02-sp.svg);
    background-position: 0 23.5%;
    height: vw(375, 255);
  }
}

.no-webp.business__bg {
  background-image: url(../img/img-curve02.jpg);
  @media screen and (max-width: $tab) {
    background-image: url(../img/img-curve02-sp.);
  }
}
// ピックアップ
.pickUp__section {
  padding-top: 180px;
  padding-bottom: 110px;
  width: 100%;
  position: relative;
  @media screen and (max-width: $tab) {
    padding-bottom: 150px;
    padding-top: 91px;
  }
}

.pickUp__container {
  width: 100%;
  position: relative;
  display: flex;
  align-items: end;
  justify-content: space-between;
  @media screen and (max-width: $tab) {
    display: block;
  }
}

.pickUp__title-wrapper {
  width: 13.25%;
  @media screen and (max-width: $tab) {
    width: 100%;
    display: block;
  }
  .text-circle {
    top: -37px;
    right: 0;
    @media screen and (max-width: $lg) {
      right: -11px;
    }
  }
}

.pickUp__title-main.text-main {
  left: -4px;
  top: 10px;
  @media screen and (max-width: $tab) {
    letter-spacing: 0.13em;
  }
  span {
    color: $white;
    padding-bottom: 10px;
    @media screen and (max-width: $tab) {
      padding-right: 10px;
    }
  }
  &::before {
    left: 5px;
  }
}

.pickUp__title-sub.text-sub {
  writing-mode: vertical-rl;
  bottom: -6px;
  right: -39px;
  line-height: 1.45;
  font-size: 16px;
  letter-spacing: 0.45em;
  @media screen and (max-width: $tab) {
    writing-mode: horizontal-tb;
    margin-top: 24px;
    right: 0;
    letter-spacing: 0em;
    font-size: 18px;
  }
  &::before {
    width: 10px;
    height: 10px;
    top: -25px;
    left: 50%;
    transform: translate(-50%, 0);
    @media screen and (max-width: $tab) {
      left: 0;
      top: 7px;
      transform: translateX(0);
      margin: 0;
    }
  }
}

.pickUp__movie {
  width: 78%;
  height: auto;
  @media screen and (max-width: $tab) {
    width: 100%;
    margin-top: 40px;
  }
  iframe {
    display: block;
    width: 100%;
    height: 100%;
    aspect-ratio: 800/494;
    object-fit: cover;
  }
}

.pickUp__logo {
  width: vw(1366, 184);
  position: absolute;
  right: 78px;
  bottom: 14%;
  aspect-ratio: 147/128;
  @media screen and (max-width: $tab) {
    bottom: 0;
    right: 0;
    width: 22vw;
  }
  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

.pickUp__button {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: $tab) {
    margin-top: 41px;
    margin-right: 37px;
  }
  .entryButton-color {
    a {
      @media screen and (max-width: $tab) {
        letter-spacing: 0;
        padding-right: 8px;
      }
    }
  }
}

.pickUp__line-top {
  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    background-color: $pink;
    height: 1px;
  }

  &::before {
    width: 200px;
    top: 81px;
    right: 71px;
    @media screen and (max-width: $tab) {
      top: 40px;
      right: 0;
      width: 100px;
    }
  }

  &::after {
    width: 300px;
    top: 100px;
    right: 71px;
    @media screen and (max-width: $tab) {
      top: 49px;
      right: 0;
      width: 150px;
    }
  }
}

.pickUp__line-bottom {
  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    background-color: $pink;
    height: 1px;
  }

  &::before {
    width: 300px;
    bottom: 22px;
    left: 69px;
    @media screen and (max-width: $tab) {
      left: 0;
      bottom: 100px;
      width: 150px;
    }
  }

  &::after {
    width: 200px;
    bottom: 0px;
    left: 69px;
    @media screen and (max-width: $tab) {
      left: 0;
      bottom: 87px;
      width: 100px;
    }
  }
}

// color
.color__section {
  padding-top: 74px;
  padding-bottom: 160px;
  width: 100%;
  @media screen and (max-width: $tab) {
    padding-top: 36px;
    padding-bottom: 92px;
  }
}

.color__title-wrapper {
  .text-circle {
    background-color: transparent;
    border: solid 1px $pink;
    top: 6px;
  }
}

.color__title-main.text-main {
  padding-left: 44px;
  @media screen and (max-width: $tab) {
    padding-left: 28px;
  }
  &::before {
    background-color: transparent;
    border: solid 1px $pink;
  }
}

.color__title-sub.text-sub {
  margin-left: 20px;
  margin-top: 18px;
  letter-spacing: 0;
  @media screen and (max-width: $tab) {
    margin-left: 0;
  }
}

.color__content {
  display: flex;
  margin-top: 32px;
  @media screen and (max-width: $tab) {
    display: block;
    margin-top: 40px;
  }
}

.color__content-block:first-child {
  border-right: solid 1px $pink;
  padding-top: 55px;
  padding-right: 20px;
  @media screen and (max-width: $tab) {
    border-right: 0;
    padding-right: 0;
    padding-top: 0;
  }
  .color-item {
    padding-bottom: 38px;
    @media screen and (max-width: $tab) {
      padding-right: 0;
      padding-bottom: 59px;
    }

    .color-item__text {
      padding-right: 20px;
      @media screen and (max-width: $tab) {
        padding-right: 0;
      }
    }
  }

  .color-item + .color-item {
    margin-top: 56px;
  }

  .color-item:nth-of-type(2) {
    padding-bottom: 58px;
    @media screen and (max-width: $tab) {
      padding-bottom: 0;
    }
  }
}

.color__content-block:last-child {
  padding-top: 55px;

  @media screen and (max-width: $tab) {
    padding-left: 0;
    padding-top: 0;
  }
  .color-item {
    margin-left: 21px;
    padding-left: 20px;
    padding-bottom: 60px;

    @media screen and (max-width: $tab) {
      padding-left: 0;
      margin-left: 0;
      padding-top: 56px;
    }

    &:not(:first-child) {
      margin-top: 56px;
      @media screen and (max-width: $tab) {
        margin-top: 0;
      }
    }
  }

  .color-item:last-of-type {
    border-bottom: none;
    padding-bottom: 70px;
    .color-item__title {
      &::before {
        @media screen and (max-width: $tab) {
          margin-right: 0;
        }
      }
    }
  }

  .color-item:nth-child(3) {
    .color-item__title {
      @media screen and (max-width: $tab) {
        letter-spacing: 0.1em;
      }

      span {
        @media screen and (max-width: $tab) {
          letter-spacing: 0;
        }
      }
    }
  }
}

.color__content-item {
  display: flex;
  flex-direction: column;
}

.color-item {
  border-bottom: solid 1px $pink;
}

.color__content-item:first-of-type {
  padding-top: 0;
  margin-top: 40px;
}

.color-item__title {
  list-style: none;
  margin-right: auto;
  font-size: 24px;
  font-weight: $bold;
  font-family: $base-font;
  font-size: 24px;
  color: $gray2;
  text-indent: -1em;
  padding-left: 0.8em;
  &::before {
    content: "";
    display: inline-block;
    margin-bottom: 6px;
    width: 13px;
    height: 13px;
    background: $pink;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 0.5em;
    margin-left: 2px;
    @media screen and (max-width: $tab) {
      margin-left: 7px;
    }
  }
  span {
    font-size: 16px;
  }
}

.color-item__img {
  margin-top: 40px;
  max-width: 473px;
  height: auto;
  aspect-ratio: 473/354;
  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  @media screen and (max-width: $tab) {
    margin-left: auto;
    margin-right: auto;
  }
}

.color-item__text {
  margin-top: 40px;
  font-weight: $normal;
  font-family: $base-font;
  font-size: 16px;
  line-height: 1.75;
  color: $gray2;
}

.color__button.entryButton {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  @media screen and (max-width: $tab) {
    margin-top: 6px;
  }
  a {
    letter-spacing: 0;
    padding-right: 5px;
  }
  .entryButton-shadow {
    margin-left: 12px;
  }
}

// job info
.jobInfo__section {
  padding-top: 180px;
  padding-bottom: 135px;
  position: relative;
  background-image: url(../img/img-curve03.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 17%;
  @media screen and (max-width: $tab) {
    padding-top: 78px;
    padding-bottom: 20px;
    background-image: url(../img/img-curve01-sp.svg);
    background-position: 0 31%;
  }

  &:before {
    width: 59.4vw;
    height: 78.7vw;
    content: "";
    display: block;
    background-color: #f4f4f4;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    @media screen and (max-width: $tab) {
      width: 70.4vw;
      height: 104vw;
    }
    @media screen and (max-width: $sp) {
      height: 199vw;
    }
  }
}

.jobInfo__title-wrapper {
  .text-circle {
    top: 7px;
  }
}

.jobInfo__title-main {
  padding-left: 22px;
  span {
    letter-spacing: 0.1em;
    color: $white;
    text-shadow: 9px -5px 0px $pink;
    @media screen and (max-width: $tab) {
      text-shadow: 4px -1px 0px $pink;
    }
  }
}

.jobInfo__title-sub.text-sub {
  top: 70px;
  transform: translateY(-50%);
  right: 26%;
  letter-spacing: 0;
  @media screen and (max-width: $lg) {
    right: 0;
    top: 0;
    transform: none;
    margin-top: 25px;
  }
}

.jobInfo__content {
  margin-top: 84px;
  padding-left: 80px;
  padding-right: 82px;
  @media screen and (max-width: $tab) {
    padding-left: 0;
    padding-right: 0;
    margin-top: 40px;
  }
}

.jobInfo__list {
  display: flex;
  flex-wrap: wrap;
}

.jobInfo-list__title,
.jobInfo-list__data {
  padding-bottom: 39px;
  padding-top: 39px;
  border-bottom: 2px dashed;
  font-size: 16px;
  line-height: 1.75;
  color: $gray2;
  font-family: $base-font;
  @media screen and (max-width: $tab) {
    font-size: 13px;
    line-height: 1.36;
    padding-bottom: 20px;
    padding-top: 21px;
  }
}

.jobInfo-list__title {
  border-color: $pink;
  width: 23.14%;
  font-weight: $bold;
  padding-left: 2.5em;
  @media screen and (max-width: $tab) {
    padding-left: 0;
    width: 23.3%;
  }
  &:first-of-type {
    padding-top: 0;
  }
}

.jobInfo-list__data {
  width: 76.86%;
  border-color: $gray;
  font-weight: $normal;
  padding-left: 40px;
  @media screen and (max-width: $tab) {
    padding-left: 15px;
    width: 76.7%;
  }
  &:first-of-type {
    padding-top: 0;
  }
}

.jobInfo__logo {
  position: absolute;
  right: 71px;
  bottom: 29px;
  @media screen and (max-width: $tab) {
    max-width: 175px;
    position: relative;
    z-index: 1;
    margin-top: 40px;
    aspect-ratio: 147/128;
    margin-left: auto;
    right: 13px;
    bottom: 0;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.jobInfo__bg {
  width: 100%;
  height: vw(1366, 1665);
  object-fit: contain;
  position: absolute;
  bottom: -63.5%;
  background-image: url(../img/img-curve02.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 17%;
  @media screen and (max-width: $tab) {
    background-image: url(../img/img-curve02-sp.svg);
    background-position: 0 23.5%;
    height: vw(375, 255);
    bottom: 1.5%;
  }
}

.no-webp.jobInfo__bg {
  background-image: url(../img/img-curve03.jpg);
  @media screen and (max-width: $tab) {
    background-image: url(../img/img-curve03-sp.jpg);
  }
}

// 先輩の声

.voice__section {
  width: 100%;
  padding-top: 130px;
  padding-bottom: 100px;
  overflow-x: hidden;
  @media screen and (max-width: $tab) {
    padding-bottom: 40px;
    padding-top: 90px;
  }
}

.voice__inner {
  position: relative;
  &::before {
    content: "Senior Voice";
    color: $white;
    width: 100%;
    font-size: vw(1366, 120);
    font-family: $base-font;
    letter-spacing: 0.1em;
    font-weight: bold;
    height: auto;
    display: block;
    position: absolute;
    left: 17px;
    text-align: right;
    z-index: 1;
    top: -11px;
    @media screen and (max-width: $tab) {
      font-size: vw(375, 50);
    }
  }

  .voice__content {
    background-color: #f4f4f4;
    width: 100%;
    position: relative;
    padding-bottom: 69px;
    padding-top: 165px;
    @media screen and (max-width: $tab) {
      padding-left: vw(375, 44);
      padding-right: vw(375, 44);
      padding-top: 37px;
      padding-bottom: 28px;
    }
    &::after {
      @media screen and (max-width: $tab) {
        content: "Senior Voice";
        color: $white;
        width: 100%;
        font-size: vw(375, 50);
        font-family: $base-font;
        letter-spacing: 0.1em;
        font-weight: bold;
        height: auto;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: scaleY(-1);
      }
    }
  }
}

.voice__title-img {
  position: absolute;
  left: 159px;
  top: -100px;
  max-width: 402px;
  width: 100%;
  height: auto;
  aspect-ratio: 402/211.8;
  z-index: 2;
  @media screen and (max-width: $tab) {
    width: 224.6px;
    height: auto;
    aspect-ratio: 224.6/118.2;
    top: -72px;
    margin-left: 16px;
    left: 0;
  }
  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

.voice__title.text-main {
  color: $white;
  z-index: 0;
  margin-left: auto;
  font-size: vw(1366, 120);
  @media screen and (max-width: $tab) {
    font-size: vw(375, 50);
    position: static;
  }
  &::before {
    content: none;
  }
}

.voice__title.text-main.voice__title--rotate {
  transform: rotate(180deg);
}

.voice__slider.swiper {
  width: 100%;
  @media screen and (max-width: $tab) {
  }
  .swiper-wrapper {
    width: 100%;
    transition-timing-function: linear;
    height: inherit;
    display: flex;
    @media screen and (max-width: $tab) {
      transition-timing-function: ease;
      align-items: center;
    }
  }
}

.swiper-slide.voice__slide {
  width: auto;
  display: flex;
  justify-content: center;
  @media screen and (max-width: $tab) {
    width: 76.5%;
  }
}
picture {
  .voice__image-illustlation {
    width: auto;
    height: auto;
    object-fit: contain;

    @media screen and (max-width: $tab) {
    }
  }
}

.swiper-slide.voice__slide:nth-of-type(2n) {
  margin-top: 220px;
  height: auto;
  margin-left: -100px;
  min-width: 329px;
  max-width: 329px;
  @media screen and (max-width: $tab) {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    min-width: 100%;
    max-width: 100%;
  }
}

.swiper-slide.voice__slide:nth-of-type(2n + 1) {
  height: auto;
  min-width: 249px;
  max-width: 249px;
  // margin-left: 50px;
  @media screen and (max-width: $tab) {
    margin-left: 0;
    min-width: 100%;
    max-width: 100%;
  }
}

.voice__button.entryButton {
  margin-top: 74px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  .entryButton-color {
    a {
      letter-spacing: 0;
      padding-right: 47px;
      @media screen and (max-width: $tab) {
        padding-right: 7px;
      }
    }
  }
  .entryButton-shadow {
    left: 0;
    letter-spacing: 0;
    bottom: -8px;
  }
}

.swiper-button-prev.swiper-button-prev--custom {
  // display: none;
  @media screen and (max-width: $tab) {
    display: block;
    background-color: $white;
    border-radius: 50%;
    border: solid 1px $pink;
    width: 24px;
    height: 24px;
    left: 16px;
    top: 53%;
    &:before {
      display: block;
      position: absolute;
      content: "";
      background-color: $white;
      width: 7px;
      height: 7px;
      border-bottom: 1px solid $pink;
      border-left: 1px solid $pink;
      transform: translate(-50%, -50%) rotate(45deg);
      top: 50%;
      left: 50%;
    }
  }
}

.swiper-button-next.swiper-button-next--custom {
  // display: none;
  @media screen and (max-width: $tab) {
    display: block;
    background-color: $white;
    border-radius: 50%;
    border: solid 1px $pink;
    width: 24px;
    height: 24px;
    right: 16px;
    top: 53%;
    &:before {
      display: block;
      position: absolute;
      content: "";
      background-color: $white;
      width: 7px;
      height: 7px;
      border-top: 1px solid $pink;
      border-right: 1px solid $pink;
      transform: translate(-50%, -50%) rotate(45deg);
      top: 50%;
      left: 50%;
    }
  }
}

// フロー

.flow__section {
  width: 100%;
  padding-top: 91px;
  padding-bottom: 161px;
  background-image: url(../img/img-curve05.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 43%;
  @media screen and (max-width: $tab) {
    padding-top: 54px;
    padding-bottom: 80px;
    background-image: none;
  }
}

.no-webp.flpw__section {
  background-image: url(../img/img-curve05.jpg);
  @media screen and (max-width: $tab) {
    background-image: none;
  }
}

.flow__inner {
  position: relative;
}

.flow__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  @media screen and (max-width: $tab) {
    display: block;
  }
}

.flow__title-wrapper {
  width: 13.25%;
  left: -3px;
  @media screen and (max-width: $tab) {
    width: 100%;
  }
  .text-circle {
    left: 7px;
  }
}

.flow__title-main.text-main.text-main--vertical {
  margin-top: 55px;
  @media screen and (max-width: $tab) {
    margin-top: 0;
    padding-left: 30px;
  }
  @media screen and (max-width: $sp) {
    padding-left: 20px;
  }
}

.flow__title-main.text-main {
  span {
    color: $white;
    letter-spacing: 0.1em;
  }
}
.flow__title-main.text-main {
  &::before {
    @media screen and (max-width: $tab) {
      left: 5px;
    }
  }
  .pc-none {
    color: $pink;
    display: inline;
    padding-left: 7px;
    padding-right: 7px;
    @media screen and (max-width: $tab) {
      color: $white;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.flow__title-sub.text-sub {
  writing-mode: vertical-rl;
  top: 222px;
  right: -41px;
  line-height: 1.45;
  font-size: 16px;
  letter-spacing: 0.4em;
  @media screen and (max-width: $tab) {
    writing-mode: horizontal-tb;
    font-size: 18px;
    right: 0;
    top: -3px;
    margin-top: 24px;
    letter-spacing: 0;
    padding-left: 26px;
  }
  &::before {
    width: 13px;
    height: 13px;
    top: -25px;
    left: 50%;
    transform: translate(-50%, 0);
    @media screen and (max-width: $tab) {
      width: 10px;
      height: 10px;
      left: 5px;
      top: 9px;
      transform: translateX(0);
      margin: 0;
    }
  }
}

.flow__box {
  position: relative;
  width: 77.6%;
  @media screen and (max-width: $tab) {
    width: 100%;
  }
  &::after {
    position: absolute;
    content: "";
    background-color: $pink;
    width: 2px;
    height: 100%;
    top: 84px;
    left: 50px;
    z-index: -1;
    @media screen and (max-width: $tab) {
      width: 1px;
      top: 40px;
      left: 25px;
      width: 1px;
    }
  }
}

.flow__list {
  display: flex;
  margin-top: 81px;
  @media screen and (max-width: $tab) {
    margin-top: 37px;
  }
  &:first-child {
    margin-top: 0;
    @media screen and (max-width: $tab) {
      margin-top: 35px;
    }
  }

  &:nth-child(2) {
    margin-top: 85px;
    @media screen and (max-width: $tab) {
      margin-top: 34px;
    }
  }

  &:nth-child(3) {
    margin-top: 80px;
    @media screen and (max-width: $tab) {
      margin-top: 37px;
    }
  }
}

.flow-list__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-color: $pink;
  border: solid 1px $pink;
  background-color: $white;
  font-family: "Noto Sans";
  letter-spacing: 0.1em;
  color: $pink;
  font-weight: $bold;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-shrink: 0;

  @media screen and (max-width: $tab) {
    width: 46px;
    height: 46px;
    font-size: 19px;
  }
  &::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: $white;
    position: absolute;
    right: 0;
    bottom: 0;
    @media screen and (max-width: $tab) {
      width: 10px;
      height: 10px;
    }
  }
}

.flow-list__text {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 111px;
  padding-top: 10px;
  @media screen and (max-width: $tab) {
    padding-top: 5px;
    margin-left: 20px;
    display: block;
  }
}

.flow-list__title {
  font-weight: $bold;
  font-family: $base-font;
  font-size: 24px;
  line-height: 1.36;
  color: $gray2;
  display: flex;
  align-items: center;
  @media screen and (max-width: $tab) {
    font-size: 18px;
  }
  &::after {
    content: "";
    width: 32px;
    height: 1px;
    background-color: #08253e;
    margin-left: 14.5px;
    margin-bottom: 5px;
    @media screen and (max-width: $tab) {
      margin-bottom: 0;
    }
  }
}

.flow-list__description {
  font-weight: $normal;
  font-family: $base-font;
  font-size: 16px;
  line-height: 1.75;
  color: $gray2;
  @media screen and (max-width: $tab) {
    margin-top: 20px;
  }
}

.flow_illustration {
  position: absolute;
  width: vw(1366, 316.4);
  max-width: 400px;
  height: auto;
  aspect-ratio: 316.4/241.34;
  bottom: -89px;
  right: 0px;
  background-image: url(../img/img-flow-irasuto-PC.webp);
  background-size: cover;
  background-repeat: no-repeat;
  @media screen and (max-width: $tab) {
    position: static;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: vw(375, 343);
  }
  img {
    width: 100%;
    height: auto;
  }
}

.no-webp.flow_illustration {
  background-image: url(../img/img-curve02.jpg);
}

// よくある質問
.faq__section {
  width: 100%;
  padding-top: 86px;
  padding-bottom: 160px;
  background-color: #f4f4f4;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  @media screen and (max-width: $tab) {
    padding-top: 78px;
    padding-bottom: 80px;
  }
}

.faq__title-wrapper {
  .text-circle {
    background-color: transparent;
    border: solid 1px $pink;
  }
}

.faq__title-main.text-main {
  padding-left: 42px;
  @media screen and (max-width: $tab) {
    padding-left: 30px;
  }
  &:before {
    background-color: transparent;
    border: solid 1px $pink;
  }
}

.faq__title-sub.text-sub {
  margin-top: 17px;
  margin-left: 25px;
  letter-spacing: 0;
  @media screen and (max-width: $tab) {
    margin-top: 21px;
    margin-left: 0;
  }
}

.faq__content {
  margin-top: 127px;
  width: 100%;
  @media screen and (max-width: $tab) {
    margin-top: 37px;
  }
}

.accordion__item + .accordion__item {
  @media screen and (max-width: $tab) {
    margin-top: 40px;
  }
}

.accordion__item:not(:first-child) {
  padding-top: 40px;
  @media screen and (max-width: $tab) {
    padding-top: 0;
  }
}

.accordion__title,
.accordion__content {
  display: flex;
  align-items: center;
  position: relative;
  padding-bottom: 2px;
  @media screen and (max-width: $tab) {
    padding-bottom: 8px;
  }

  p {
    width: 100%;
    font-weight: $normal;
    font-family: $base-font;
    font-size: 16px;
    line-height: 1.75;
    color: $gray2;
    position: relative;
    padding-left: 10px;
    @media screen and (max-width: $tab) {
      font-size: 13px;
      line-height: 1.36;
      padding-left: 23px;
    }
  }
  &::after {
    content: "";
    display: block;
    margin-top: 10px;
    background-size: 8px 1px;
    background-image: linear-gradient(
      to right,
      $gray,
      $gray 5px,
      transparent 5px,
      transparent 8px
    );
    background-repeat: repeat-x;
    position: absolute;
    height: 1px;
    bottom: 0;
    width: 100%;
    @media screen and (max-width: $tab) {
      margin-top: 0;
    }
  }

  .accordion__title-entry {
    border-bottom: 1px solid $gray2;
    cursor: pointer;
  }
}

.accordion__title-large {
  font-weight: $bold;
  font-family: "Noto Sans";
  font-size: 24px;
  line-height: 1.375;
  letter-spacing: 0.2em;
  color: $pink;
  display: inline-block;

  @media screen and (max-width: $tab) {
    width: 18px;
    font-size: 18px;
    margin-bottom: 5px;
  }
}

.accordion__title {
  cursor: pointer;

  .accordion__title-large {
    margin-bottom: 10px;
  }
}

.accordion__content {
  margin-left: 40px;
  padding-top: 36px;
  padding-bottom: 12px;
  display: none;
  p {
    padding-left: 43px;
    margin-top: -28px;
    @media screen and (max-width: $tab) {
      padding-left: 40px;
    }
  }

  @media screen and (max-width: $tab) {
    margin-left: 0;
    margin-top: 29px;
    padding-top: 0;
    margin-bottom: 21px;
  }
}

.accordion__item:first-child {
  dd {
    display: block;
    margin-bottom: 21px;
  }
}

// 会社情報
.company__section {
  width: 100%;
  padding-top: 159px;
  padding-bottom: 154px;
  background-image: url(../img/img-curve06.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 30.5%;
  @media screen and (max-width: $tab) {
    padding-top: 97px;
    padding-bottom: 72px;
    background-image: url(../img/img-curve03-sp.svg);
    background-position: 0 51.5%;
  }
}

.no-webp.company__section {
  background-image: url(../img/img-curve06.jpg);
  @media screen and (max-width: $tab) {
    background-image: url(../img/img-curve06-sp.jpg);
  }
}

.company__title-wrapper.title-wrapper {
  .text-circle {
    top: 5px;
  }
}

.company__title-main.text-main {
  padding-left: 34px;
  @media screen and (max-width: $tab) {
    padding-left: 22px;
  }
}

.company__title-main span {
  color: $white;
  padding-right: 8.7px;
}

.company__title-sub.text-sub {
  top: 53%;
  transform: translateY(-50%);
  right: 26.5%;
  letter-spacing: 0;
  @media screen and (max-width: $lg) {
    position: relative;
    margin-left: 25px;
    right: 0;
    top: 0;
    transform: none;
    margin-top: 24px;
  }
  @media screen and (max-width: $tab) {
    margin-left: 0;
  }
}

.company__content {
  margin-top: 85px;
  padding-left: 80px;
  padding-right: 82px;
  @media screen and (max-width: $tab) {
    padding-left: 0;
    padding-right: 0;
    margin-top: 40px;
  }
}

.company__list {
  display: flex;
  flex-wrap: wrap;
}

.company-list__title,
.company-list__data {
  padding-bottom: 39px;
  padding-top: 39px;
  border-bottom: 2px dashed;
  font-size: 16px;
  line-height: 1.75;
  color: $gray2;
  font-family: $base-font;
  @media screen and (max-width: $tab) {
    font-size: 13px;
    line-height: 1.36;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}

.company-list__title {
  border-color: $pink;
  width: 23.14%;
  font-weight: $bold;
  padding-left: vw(1366, 40);
  @media screen and (max-width: $tab) {
    padding-left: 0;
    width: 23.3%;
  }
  &:first-of-type {
    padding-top: 0;
  }
}

.company-list__data {
  width: 76.86%;
  border-color: $gray;
  font-weight: $normal;
  padding-left: 40px;
  @media screen and (max-width: $tab) {
    padding-left: 15px;
    width: 76.7%;
  }
  &:first-of-type {
    padding-top: 0;
  }
}

// サンクスページ

.thanks {
  width: 100vw;
  height: 100vh;
  background-color: #f8f8f8;
  overflow: hidden;
  position: fixed;
}

.thanks__inner {
  height: inherit;
  display: flex;
  align-items: center;
}

.thanks__content {
  width: 100%;
  height: fit-content;
  padding-top: 79px;
  padding-bottom: 80px;
  border-top: 1px solid $gray2;
  border-bottom: 1px solid $gray2;
  margin: auto 0;
  @media screen and (max-width: $tab) {
    padding-top: 21px;
  }
}

.thanks__text {
  font-weight: $normal;
  font-family: $base-font;
  font-size: 16px;
  line-height: 1.75;
  color: $gray2;
}

.thanks__text + .thanks__text {
  margin-top: 1em;
}

.thanks__logo {
  display: block;
  margin-top: 82.3px;
  width: 72.47px;
  height: auto;
  aspect-ratio: 72.47/63;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: $tab) {
    margin-top: 45.5px;
  }
  img {
    width: 100%;
    height: auto;
  }
}

// エントリー
.entry__section {
  padding-top: 170px;
  padding-bottom: 160px;
  width: 100%;
  background-color: #f4f4f4;
  background-image: radial-gradient($pink 2px, transparent 10%);
  background-size: 40px 40px;
  position: relative;
  @media screen and (max-width: $tab) {
    padding-top: 89px;
    padding-bottom: 87px;
    background-size: 20px 20px;
  }
}

.entry__inner {
  position: relative;
}

.entry__content {
  border-top-right-radius: 70px;
  border-bottom-left-radius: 70px;
  padding-top: 160px;
  padding-bottom: 170px;
  width: 100%;
  background-color: $white;
  @media screen and (max-width: $tab) {
    padding-top: 78px;
    padding-bottom: 75px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
  }
}

.entry__title-wrapper {
  padding-left: 78px;
  @media screen and (max-width: $tab) {
    padding-left: 15px;
  }
  .text-circle {
    background-color: transparent;
    border: 1px solid $pink;
    top: 10px;
  }
}

.entry__title-main.text-main {
  padding-left: 40px;
  @media screen and (max-width: $tab) {
    padding-left: 25px;
  }
  &::before {
    background-color: transparent;
    border: 1px solid $pink;
  }
}
.entry__title-sub.text-sub {
  position: relative;
  margin-left: 25px;
  margin-top: 20px;
  letter-spacing: 0;
  @media screen and (max-width: $tab) {
    margin-left: 0;
    margin-top: 26px;
  }
}

.entry__box {
  margin-top: 76px;
  padding-left: vw(1366, 170);
  padding-right: vw(1366, 175);
  @media screen and (max-width: $tab) {
    padding-left: 16px;
    padding-right: 24.8px;
    margin-top: 40px;
  }
}

.form__item {
  margin-top: 40px;
  dl {
    display: flex;
    @media screen and (max-width: $tab) {
      display: block;
    }
    dt {
      width: 30.7%;
      padding-top: 9px;
      @media screen and (max-width: $tab) {
        width: 100%;
        padding-top: 0;
      }
    }
    dd {
      width: 69.3%;
      @media screen and (max-width: $tab) {
        width: 100%;
        margin-top: 20px;
      }
    }
  }
}

.form__item + .form__item {
  margin-top: 47px;
  @media screen and (max-width: $tab) {
    margin-top: 33px;
  }
}

.form__item:nth-child(3) {
  dl {
    dd {
      input {
        width: 207.63px;
        @media screen and (max-width: $tab) {
          width: 202px;
        }
      }
      textarea {
        margin-top: 21px;
        height: 120px;
        resize: none;
        @media screen and (max-width: $tab) {
          height: 120px;
        }
      }
    }
  }
}

.form__label-text {
  font-weight: $bold;
  font-family: $base-font;
  font-size: 16px;
  line-height: 1.75;
  color: $gray2;
  width: 100%;
  @media screen and (max-width: $tab) {
    font-size: 13px;
  }
  span {
    padding-left: 24px;
    padding-right: 20px;
    color: #e82f2a;
    font-size: 13px;
    font-weight: $normal;
    white-space: nowrap;
  }

  span.md-none {
    display: inline-block;
    @media screen and (max-width: $tab) {
      display: none;
    }
  }

  span.pc-none {
    @media screen and (max-width: $tab) {
      display: inline-block;
    }
  }
}

.form__input {
  .form__input-text {
    background-color: #fcfcfc;
    display: block;
    border: 1px $gray2 solid;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding: 5px;
    font-weight: $normal;
    font-family: $base-font;
    font-size: 16px;
    line-height: 1.75;
    color: $gray2;
    @media screen and (max-width: $tab) {
      font-size: 13px;
    }
  }
  p {
    font-weight: $normal;
    font-family: $base-font;
    font-size: 13px;
    line-height: 1.75;
    color: $gray;
    margin-top: 8px;
    padding-left: 3px;
  }
}

.form__input-text {
  font-weight: $normal;
  font-family: $base-font;
  font-size: 16px;
  line-height: 1.75;
  color: $gray2;
}

.form__textarea {
  border: 1px $gray2 solid;
  border-radius: 4px;
  width: 100%;
  height: 240px;
  resize: none;
  padding: 5px;
  display: block;
  font-weight: $normal;
  font-family: $base-font;
  font-size: 16px;
  line-height: 1.75;
  color: #1a1a1a;
  @media screen and (max-width: $tab) {
    font-size: 13px;
  }
}

.form__confirm {
  text-align: center;
  font-weight: $normal;
  font-family: $base-font;
  font-size: 16px;
  color: $gray2;
  line-height: 1.75;
  @media screen and (max-width: $tab) {
    font-size: 13px;
    line-height: 1.45;
    text-align: left;
  }
  span {
    cursor: pointer;
    border-bottom: 1px solid $gray2;
  }
}

.form__item:nth-child(7) {
  dl {
    dt {
      display: flex;
      align-items: center;
    }
  }
}

.form__item:last-child {
  margin-top: 87px;
  @media screen and (max-width: $tab) {
    margin-top: 39px;
  }
  p {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: $tab) {
      margin-left: 0;
      margin-right: 0;
    }
  }
  dl {
    justify-content: center;
    @media screen and (max-width: $tab) {
      margin-left: auto;
      margin-right: auto;
      width: fit-content;
    }
    dt {
      width: fit-content;
    }
    dd {
      display: none;
    }
  }
}

.form__label-agree {
  display: block;
  margin-top: 36px;
  text-align: center;
  font-weight: $normal;
  font-family: $base-font;
  font-size: 16px;
  color: #1a1a1a;
  letter-spacing: 0.1em;
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  @media screen and (max-width: $tab) {
    font-size: 13px;
    margin-top: 25px;
    letter-spacing: 0;
  }
}

.form__input-agree {
  display: none;
  user-select: none;
}

.form__checkbox {
  border-radius: 3px;
  border: 1px solid $gray2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 16px;
  height: 16px;
  &::after {
    content: "";
    left: 4px;
    top: 0;
    width: 6px;
    height: 10px;
    border: solid $gray2;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
    position: absolute;
  }
}

.form__input-agree:checked + .form__checkbox:after {
  opacity: 1;
}

.error-message {
  display: none;
  font-weight: $normal;
  font-family: $base-font;
  font-size: 13px;
  color: #e82f2a;
  margin-top: 15px;
}

.form__input-text:invalid + .error-message {
  display: none;
}

.form__input-text:focus:invalid + .error-message {
  display: block;
}

.form__button.entryButton {
  margin-top: 82px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  @media screen and (max-width: $tab) {
    padding-left: 12px;
    margin-top: 78px;
  }
  .entryButton-shadow {
    margin-left: 24px;
    @media screen and (max-width: $tab) {
      margin-left: 12px;
    }
  }
  .entryButton-color {
    input {
      padding-left: 96px;
      padding-right: 121px;
      @media screen and (max-width: $tab) {
        letter-spacing: 0;
        padding-left: 109px;
      }
    }
    span {
      right: 45px;
      @media screen and (max-width: $tab) {
        right: 21px;
      }
    }
  }
}

.entry__logo {
  position: absolute;
  background-image: url(../img/img-logo-job-info.webp);
  bottom: 121px;
  right: 73px;
  width: 170px;
  height: auto;
  aspect-ratio: 147/128;
  @media screen and (max-width: $tab) {
    max-width: 147px;
    position: static;
    margin-top: 40px;
    aspect-ratio: 147/128;
    margin-left: auto;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.no-webp.business__bg {
  background-image: url(../img/img-logo-job-info.jpg);
}

// モーダル
.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 5000;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
}

.modal.is-active {
  opacity: 1;
  visibility: visible;
}

.modal__bg {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
  background: rgba($color: #000000, $alpha: 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  // スクロール禁止
  overscroll-behavior: contain;
  overflow-y: scroll;
}

// スクロール禁止
.modal__bg::before,
.modal__bg::after {
  content: "";
  width: 1px;
  height: calc(100vh + 1px);
  display: flex;
}

.modal__content {
  overflow-y: scroll;
  max-width: 1094px;
  width: 80%;
  height: 74%;
  min-height: 400px;
  background-color: $white;
  padding: 40px;
  scrollbar-width: none;
  -ms-overflow-style: none;
  @media screen and (max-width: $tab) {
    padding: 20px;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.modal__text {
  font-weight: $normal;
  font-family: $base-font;
  font-size: 16px;
  line-height: 1.75;
  color: $gray2;
  @media screen and (max-width: $tab) {
    font-size: 13px;
  }
}

// モーダルのスクロールバー
.simplebar-track.simplebar-vertical {
  background-color: #d9d9d9;
  width: 20px;
}

.simplebar-scrollbar.simplebar-visible::before {
  opacity: 1;
  margin-left: -2px;
  background-color: $pink;
  width: 20px;
  border-radius: 10px;
}

// 共通
.md-none {
  @media screen and (max-width: $tab) {
    display: none;
  }
}

.pc-none {
  display: none;
  @media screen and (max-width: $tab) {
    display: block;
  }
}

.inner {
  width: 100%;
  max-width: 1076px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
  @media screen and (max-width: $tab) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.text-circle {
  display: block;
  border-radius: 50%;
  background-color: $pink;
  width: 130px;
  height: 130px;
  position: absolute;
  @media screen and (max-width: $tab) {
    display: none;
  }
}

.title-wrapper {
  position: relative;
}

.text-main {
  position: relative;
  width: fit-content;
  font-weight: bold;
  font-family: "Noto Sans JP";
  font-size: 100px;
  line-height: 1.362;
  color: $pink;
  letter-spacing: 0.1em;
  z-index: 2;
  &::before {
    @media screen and (max-width: $tab) {
      width: 84px;
      height: 84px;
      content: "";
      display: block;
      border-radius: 50%;
      background-color: $pink;
      top: 0px;
      left: 0px;
      position: absolute;
      z-index: -1;
    }
    @media screen and (max-width: $sp) {
      width: vw(375, 84);
      height: vw(375, 84);
    }
  }

  @media screen and (max-width: $tab) {
    font-size: 60px;
  }
  @media screen and (max-width: $sp) {
    position: relative;
    font-size: vw(375, 60);
    line-height: 1.362;
  }
}

.text-main--vertical {
  writing-mode: vertical-rl;
  @media screen and (max-width: $tab) {
    writing-mode: horizontal-tb;
    padding-left: 32px;
  }
}

.text-sub {
  font-weight: $bold;
  font-family: "Noto Sans JP";
  font-size: 24px;
  line-height: 1.36;
  color: $gray2;
  position: absolute;
  @media screen and (max-width: $tab) {
    font-size: 18px;
    line-height: 1.362;
    position: relative;
    width: fit-content;
    padding-left: 20px;
  }
  &::before {
    display: inline-block;
    content: "";
    border-radius: 50%;
    background-color: $pink;
    width: 13px;
    height: 13px;
    top: 50%;
    left: -23px;
    transform: translatey(-50%);
    position: absolute;
    @media screen and (max-width: $tab) {
      width: 10px;
      height: 10px;
      margin-left: 20px;
    }
  }
}

.sp-only {
  display: none;
  @media screen and (max-width: $sp) {
    display: inline-block;
  }
}
